.remove {
	background-color: white;
	border: none;
	font-size: 12px;
	text-decoration: underline;
}

.cart {
	border: 1px grey;
}

.total {
	margin: 20px;
	font-size: 15px;
}

.right {
	margin-left: 120px;
	font-weight: bold;
}
